* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
}

.awesome {
    background-color: white;
    margin: auto;
    max-width: 1170px;
}

.container {
    max-width: 100%;
}

.awesome-block__title {
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    line-height: 108px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.awesome-block__title::after {
    display: block;
    border-bottom: 3px solid #ff8b38;
    width: 74px;
    content: ' ';
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
    margin-bottom: 35px;
}

.awesome-block__text {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    text-align: center;
}

.awesome-row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.awesome-column {
    width: 350px;
    margin-top: 60px;
}

.awesome-column__icon {
    border: 2px solid #ff8b38;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 135px;
}

.awesome-column__title {
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.awesome-column__text {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.pricing {
    background-color: #f5f5f5;
    margin: auto;
}

.pricing-block {
    margin-top: 105px;
}

.pricing-block__title {
    color: #212121;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 108px;
}

.pricing-block__title::after {
    display: block;
    border-bottom: 3px solid #ff8b38;
    width: 74px;
    content: ' ';
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
    margin-bottom: 35px;
}

.pricing-block__text {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;
    margin-top: 62px;
    margin-bottom: 80px;
}

.pricing-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 146px;
    margin-left: 146px;
}

.pricing-row div:nth-child(2) {
    margin-left: 40px;
    margin-right: 40px;
}

.pricing-column {
    margin-bottom: 96px;
    width: 343px;
}

.pricing-column__card {}

.pricing-column__item-first {
    background-color: #333333;
    border: 1px solid #f5f5f5;
}

.pricing-column__title {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 21px;
}

.pricing-column__item-second {
    background-color: #333333;
    border: 1px solid #f5f5f5;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.pricing-column__price {
    color: #ffffff;
    font-family: Raleway;
    font-size: 94px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    margin-top: 32px;
    margin-bottom: 8px;
}

.dollar {
    font-size: 35px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    font-family: Raleway;
    color: #ffffff;
}

.pricing-column__item-third {
    background-color: #333333;
    border-bottom: 2px solid #ff8b38;
}

.pricing-column__item-third-noborder {
    background-color: #333333;
}

.pricing-column__subtitle {
    opacity: 0.5;
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 19px;
}

.pricing-column__item-about {
    background-color: #ffffff;
    border: 1px solid #f5f5f5;
}

.pricing-column__text {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 14px;
    margin-bottom: 14px;
}

.pricing-column__item-background {
    background-color: #ff8b38;
    border: 1px solid #f5f5f5;
}

.pricing-column__text-orange {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 13px;
    padding-bottom: 15px;
}

.design {
    background-image: url(/Users/777/Desktop/TeachMeSkills/Lesson1/background/city.png);
    background-color: black;
}

.container-design {
    height: 320px;
    max-width: 1400px;
}

.design-main {
    text-align: center;
    padding-top: 74px;
}

.design-main__title {
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
}

.design-main__border {
    border-bottom: 2px solid white;
    width: 74px;
    height: 16px;
    text-align: center;
    margin: 26px auto 23px;
}

.design-main__subtitle {
    opacity: 0.8;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    margin-bottom: 48px;
}

.button {
    width: 135px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 77px;
}

.button__download {
    text-decoration: none;
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    padding: 15px 33px 14px 31px;
    border: 2px solid #ffffff;
}

footer {
    height: 100px;
    background-color: black;
}

.footer-nav {}

.list-nav {
    width: 317px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.list-nav__social {
margin-top: 32px; 
  font-size: 24px;
}
i{
    color: #cccccc;
}
.footer-copy {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.copyright {
    opacity: 0.5;
    color: #ffffff;
font-family: "Open Sans";
font-size: 12px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}