@import url('/css/header.css');
@import url('/css/fullscreen.css');
@import url('/css/about.css');
@import url('/css/pricing.css');
@import url('/css/design.css');
@import url('/css/awesome.css');
@import url('/css/footer.css');
@import url('/css/media.css');
@import url('/css/contact.css');
* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}


