.container {
    background-color: white;
}
.container__body {
    max-width: 1029px;
    margin: 0 auto;
}
.container__awesome {
    margin-bottom: 65px;
}
.container__title {
    margin-top: 108px;
    margin-bottom: 30px;
}
.title{
font-size: 36px;
font-weight: 400;
text-align: center;
text-transform: uppercase;
padding-bottom: 15px;
}
.container__text {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    
}
.container__row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.item-container {
    width: 350px;
    margin-top: 60px;
}
.item-container__icon {
    border: 1px solid #ff8b38;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 135px;
}

.item-container__title {
color: #333333;
font-family: "Open Sans";
font-size: 20px;
font-weight: 700;
line-height: 24px;
margin-top: 15px;
margin-bottom: 15px;

}

.item-container__text {
color: #86878b;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: center;
}
